/*
    1. Positioning
    2. Box model
    3. Typography
    4. View
    5. Other
*/


html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
}

$primary: #272727; // (Primary)
$secondary:#4F98CA; // (Secondary)
$secondaryPrimaryAccentuate: #50D890; // (Dark and light secondary variants)
$secondarySecondaryAccentuate: #EFFFFB; // (Dark and light secondary variants)

body{
    width: 100%;
    background: #272727;
    // background: url('https://as01.epimg.net/meristation/imagenes/2020/09/04/guias/1599229032_628125_1599232629_sumario_normal.jpg');
    // background-repeat: no-repeat;
    // background-position: center start;
    // background-size: contain;
}

@mixin cursorPointer {
    cursor: pointer;
}

.container-categories {
    width: 90%;
    min-height: 10rem;
    margin: 4rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $secondarySecondaryAccentuate;
    
    

    &--items {
        width: 90%;
        min-height: 6rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        overflow: hidden;
        
        .categories--items{
            
            padding: 1rem;
            border-bottom-right-radius: 2rem;
            border-right: .1rem solid $secondary;
            border-bottom: .1rem solid $secondary;
            
            &:hover{
                @include cursorPointer();
                background: linear-gradient(310deg, $secondaryPrimaryAccentuate 0%, rgb(255, 255, 255,0) 65%);
            }
        }
    }
    &--title {
        width: 100%;
        padding: 1.6rem;
        text-align: center;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-top: .1rem solid $secondary;
    }
  }
  