/*
    1. Positioning
    2. Box model
    3. Typography
    4. View
    5. Other
*/


html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary: #272727; // (Primary)
$secondary:#4F98CA; // (Secondary)
$secondaryPrimaryAccentuate: #50D890; // (Dark and light secondary variants)
$secondarySecondaryAccentuate: #EFFFFB; // (Dark and light secondary variants)

a:link, a:visited, a:active {
    text-decoration:none;
    color: $primary;
}
.container-footer{
    min-width: 100%;
    max-width: 55rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    font-weight: bold;
    color: $secondarySecondaryAccentuate;
    background: $secondary;
    border-top: .1rem solid $secondarySecondaryAccentuate;
}