/*
    1. Positioning
    2. Box model
    3. Typography
    4. View
    5. Other
*/


html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
}

$primary: #272727; // (Primary)
$secondary:#4F98CA; // (Secondary)
$secondaryPrimaryAccentuate: #50D890; // (Dark and light secondary variants)
$secondarySecondaryAccentuate: #EFFFFB; // (Dark and light secondary variants)

body{
    width: 100%;
    height: 100vh;
    background: $primary;
    // background: url('https://as01.epimg.net/meristation/imagenes/2020/09/04/guias/1599229032_628125_1599232629_sumario_normal.jpg');
    // background-repeat: no-repeat;
    // background-position: center start;
    // background-size: contain;
}

@mixin cursorPointer {
    cursor: pointer;
}

.header-container{
    width: 100%;
    height: 8rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: $primary;
    background: linear-gradient(180deg, rgba(39,39,39,1) 0%, rgba(39,39,39,0.5) 50%, rgba(39,39,39,0) 100%);
    

    &--back{
        width: 20%;
        display: none;
        @include cursorPointer();
    }
    &--logo{
        width: 60%;
        max-height: 6rem;
        display: flex;
        flex-direction: row;
        img{
            padding: 0 2rem 0 0 ;
            object-fit: contain;
            @include cursorPointer();
        }
        
    }
    &--search{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: .4rem solid $secondary;
        border-radius: 2rem;
        @include cursorPointer();
        background: url('../images/search.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 4rem;
        overflow: hidden;

        &__input{
            width: 100%;
            height: 100%;
            padding: 0 0 0 1rem;
            border: none;
            color: $secondarySecondaryAccentuate;
            outline: none;
            background: none;
            

            &:focus{
                border: none;
            }
            &:active{
                border: none;
            }
        }
        
    }
}