/*
    1. Positioning
    2. Box model
    3. Typography
    4. View
    5. Other
*/


html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary: #272727; // (Primary)
$secondary:#4F98CA; // (Secondary)
$secondaryPrimaryAccentuate: #50D890; // (Dark and light secondary variants)
$secondarySecondaryAccentuate: #EFFFFB; // (Dark and light secondary variants)


@mixin cursorPointer {
    cursor: pointer;
}


.container-popular{    
    color: $secondarySecondaryAccentuate;

    .container-popular--title{
        width: 100%;
        height: 20%;
        padding-block: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $secondary;
        border-bottom: .1rem solid $secondarySecondaryAccentuate;
        border-end-start-radius: 1rem;
        border-end-end-radius: 1rem;
    }
}
.container-popular--slider{
    width: 100%;
    height: 100%;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;    
    text-align: center;
    justify-content: center;
    overflow:auto;
    
    
    &::-webkit-scrollbar{
        -webkit-appearance: none;
        &:horizontal {
            height: 1.2rem;
        }
    }
    &::-webkit-scrollbar-button:increment,
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $secondary;
        border-radius: 2rem;
        border: .2rem solid $secondaryPrimaryAccentuate;
    }
    &::-webkit-scrollbar-track{
        border-radius: 20px;
    }
    .container-popular--wrapper{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            margin-left: 1rem;
            width: 24rem;
        }
    }
}