/*
    1. Positioning
    2. Box model
    3. Typography
    4. View
    5. Other
*/


html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$primary: #272727; // (Primary)
$secondary:#4F98CA; // (Secondary)
$secondaryPrimaryAccentuate: #50D890; // (Dark and light secondary variants)
$secondarySecondaryAccentuate: #EFFFFB; // (Dark and light secondary variants)


.container-search {
    max-width: 55rem;
    min-height: 90%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;

    &--header{
        width: 100%;

        &__back {
            width: 100%;
            padding-top: 2rem;

            svg{
                width: 8rem;
            }
        }
        &__search {
            width: 100%;
            // padding: 3.2rem;
            text-align: center;
    
            &-input {
                width: 10rem;
                height: 3rem;
                padding-left: 1rem;
                padding-right: 3rem;
                border: none;
                outline: none;
                background: none;
                color: $secondarySecondaryAccentuate;
                border: .1rem solid $secondary;
                background: url('../images/search.svg');
                background-position: center ;
                background-repeat: no-repeat;
                background-size: contain;
                transition: all 1s;
            }
            
            :focus{
                width: 40rem;
                height: 4rem;
                outline: .4rem solid $secondaryPrimaryAccentuate;
                background-position: center right;
                transition: all 3s;
            }
            
        }

    }

    &--category{
        h2{
            padding-top: 2rem;
            color: $secondarySecondaryAccentuate;
        }
    }

    &--movies {
        width: 100%;
        display: flex;
        padding-block-start: 4rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;


        &__item {
            padding: .6rem;
            border-radius: 3rem;
            overflow: hidden;

            img{
                max-width: 17rem;
            }
        }
    }
}
