/*
    1. Positioning
    2. Box model
    3. Typography
    4. View
    5. Other
*/


html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
}

$primary: #272727; // (Primary)
$secondary:#4F98CA; // (Secondary)
$secondaryPrimaryAccentuate: #50D890; // (Dark and light secondary variants)
$secondarySecondaryAccentuate: #EFFFFB; // (Dark and light secondary variants)

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-content: space-between;
    place-items: center;
    background: #272727;
}
.inactive{
    display: none!important;
}
.container-main{
    max-width: 55rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}