<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/categories.css">
    <title>Document</title>
</head>
<body>
    <main>
        

        <article class="container-categories">
            <div class="container-categories--title">
                <h2>Categories</h2>
            </div>
            <div class="container-categories--items">
                <div class="categories--items">
                    Action
                </div>
                <div class="categories--items">
                    Adventures
                </div>
                <div class="categories--items">
                    Comedy
                </div><div class="categories--items">
                    Fantasy
                </div><div class="categories--items">
                    Drama
                </div><div class="categories--items">
                    Terror
                </div><div class="categories--items">
                    3D
                </div><div class="categories--items">
                    Police
                </div><div class="categories--items">
                    Crime
                </div><div class="categories--items">
                    Sport
                </div>
                
            </div>
        </article>



    </main>
</body>
</html>