<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/nav.css">
    <title>Document</title>
</head>
<body>
    <header>

        <div class="header-container">
            <div class="header-container--back">
                <svg height="auto" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="auto" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 " fill="#4F98CA"/>
                </svg>
            </div>

            <div class="header-container--logo">
                <img src="../images/logo-img-removebg-preview.png" alt="logo img">
                <img src="../images/logo-name-removebg-preview.png" alt="logo text">
            </div>

            <div class="header-container--search">
                <input class="header-container--search__input" id="btnSearch" type="text">
            </div>
        </div>
        
    </header>
</body>
</html>


