<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/popular.css">
    <title>Document</title>
</head>
<body>
    <main>
        

        <article class="container-popular">
            <div class="container-popular--title">
                <h2>Top Popular</h2>
            </div>
            <div class="container-popular--slider">
                <div class="container-popular--wrapper">
                    <img src="https://i.pinimg.com/originals/2b/de/de/2bdede0647e3cdf75b44ea33723201d9.jpg">
                    <img src="https://images6.alphacoders.com/462/thumb-1920-462371.jpg">
                    <img src="https://images5.alphacoders.com/343/thumb-1920-343645.jpg">
                    <img src="https://cdn.wallpapersafari.com/24/98/dwMtqD.jpg">
                </div>
            </div>
        </article>

        <div>
            <h2>Hello!</h2>
        </div>


    </main>
</body>
</html>